<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel="stylesheet" type ="text/css" href="/style.css"/>
</head>
<body>
  <% if (locals.user) {%>
    <header>
      <h1>WELCOME BACK <%= user.username %></h1>
      <div class="buttonContainer">
        <a href = "/">Home</a>
        <a href="/logout">Log Out</a>
      </div>
    </header>
  <% } else { %>
    <header>
      <h1>Log in</h1>
      <div class="buttonContainer">
        <a href = "/">Home</a>
        <a href = "/sign-up">Sign up</a>
      </div>
    </header>
    <form action="/login" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" type="text" />

      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      
      <button type="submit">Log In</button>
    </form>
  <%}%>
</body>
</html>