<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Message</title>
</head>
<body>
  <h1>Create Message</h1>
  <form action="/message" method="POST">
    <label for="messageTitle">Title:</label>
    <input id="messageTitle" name="messageTitle" type="text" />
    <label for="message">Message:</label>
    <textarea id="message" name="message" type="text"></textarea>
    <button type="submit">Submit</button>
  </form>
</body>
</html>