header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.messageLineItem{
    margin-bottom: 12px;
}

.messageBox{
    width: 1000px;
    height: 200px;
    border: 2px solid black;
    border-radius: 4px;
}

ul {
    list-style-type: none;
}

a {
    padding-left: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 500px;
}

button {
    max-width: 100px;
    margin-top: 8px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label {
    margin-top: 8px;
}

textarea {
    width: 500px;
    height: 400px;
}
